node_modules/
.next/
.data/
.libretranslate-venv/
.libretranslate-data/
.libretranslate-config/
.libretranslate-cache/
:memory:.ses
.env*
!.env.example
*.log
.DS_Store
*.tsbuildinfo
public/chromium-pack.tar
